<div class="using-border py-3">
    <div class="inner_breadcrumb  ml-4">
       <ul class="short_ls">
          <li>
             <a href="index.html">Home</a>
             <span>/ /</span>
          </li>
          <li>Gallery</li>
       </ul>
    </div>
 </div>
 <!-- //short-->
 <!--Gallery-->
 <section class="gallery py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
       <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Our Gallery</h3>
       <div class="row grid gallery-info">
          <div class="col-lg-5 col-md-5 gallery-grids">
             <figure class="effect-steve">
                <img src="view/images/g1.jpg" alt="img15"/>
                <figcaption>
                   <h2>Jeweler<span>Designs</span></h2>
                   <p>Lorem ipsum dolor sit ips</p>
                   <a href="view/images/g1.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
                   </a>
                </figcaption>
             </figure>
          </div>
          <div class="col-lg-5 col-md-5 gallery-grids">
             <figure class="effect-steve">
                <img src="view/images/g2.jpg" alt="img15"/>
                <figcaption>
                   <h2>Jeweler<span>Designs</span></h2>
                   <p>Lorem ipsum dolor sit ips</p>
                   <a href="view/images/g2.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
                   </a>
                </figcaption>
             </figure>
          </div>
       </div>
       <div class="row grid gallery-info">
          <div class="col-lg-5 col-md-5 gallery-grids">
             <figure class="effect-steve">
                <img src="view/images/g3.jpg" alt="img15"/>
                <figcaption>
                   <h2>Jeweler<span>Designs</span></h2>
                   <p>Lorem ipsum dolor sit ips</p>
                   <a href="view/images/g3.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
                   </a>
                </figcaption>
             </figure>
          </div>
          <div class="col-lg-5 col-md-5 gallery-grids">
             <figure class="effect-steve">
                <img src="view/images/g4.jpg" alt="img15"/>
                <figcaption>
                   <h2>Jeweler<span>Designs</span></h2>
                   <p>Lorem ipsum dolor sit ips</p>
                   <a href="view/images/g4.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
                   </a>
                </figcaption>
             </figure>
          </div>
       </div>
       <div class="row grid gallery-info">
          <div class="col-lg-5 col-md-5 gallery-grids">
             <figure class="effect-steve">
                <img src="view/images/g6.jpg" alt="img15"/>
                <figcaption>
                   <h2>Jeweler<span>Designs</span></h2>
                   <p>Lorem ipsum dolor sit ips</p>
                   <a href="view/images/g6.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
                   </a>
                </figcaption>
             </figure>
          </div>
          <div class="col-lg-5 col-md-5 gallery-grids">
             <figure class="effect-steve">
                <img src="view/images/g7.jpg" alt="img15"/>
                <figcaption>
                   <h2>Jeweler<span>Designs</span></h2>
                   <p>Lorem ipsum dolor sit ips</p>
                   <a href="view/images/g7.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
                   </a>
                </figcaption>
             </figure>
          </div>
       </div>
    </div>
 </section>
 <!--//Gallery-->