      <div class="using-border py-3">
         <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
               <li>
                  <a href="index.html">Home</a>
                  <span>/ /</span>
               </li>
               <li>About</li>
            </ul>
         </div>
      </div>
      <!-- //short-->
      <!--about-->
      <!--about-one-->
      <section class="about-inner py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">About Us</h3>
            <div class="row abt-inner-agile">
               <div class="col-lg-9 col-md-9 abt-inner-left">
                  <div class="row">
                     <div class="col-lg-8 col-md-8 p-0">
                        <img src="view/images/g1.jpg" class="img-thumbnail" alt="">
                     </div>
                     <div class="col-lg-4 col-md-4 p-0">
                        <img src="view/images/g7.jpg" class="img-thumbnail" alt="">
                        <img src="view/images/g1.jpg" class="img-thumbnail" alt="">
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-4 col-md-4 p-0">
                        <img src="view/images/g2.jpg" class="img-thumbnail" alt="">
                     </div>
                     <div class="col-lg-8 col-md-8 text-center about-inner-mid">
                        <h4 class="mb-lg-4 mb-md-3 mb-3">Treat yourself better</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-3 abt-inner-left p-0">
                  <img src="view/images/2.jpg" class="img-thumbnail" alt="">
               </div>
            </div>
         </div>
      </section>
      <!--//about-->
      <!--States-->
      <section class="about-inner-counter py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
            <div class="stats-info row ">
               <div class="col-lg-4 col-md-4 col-sm-4 stats-grid stats-grid-1">
                  <div class="register-left-agile">
                     <div class="counter">1200</div>
                     <div class="stat-info py-lg-3 py-md-3 py-sm-3 py-3">
                        <h4>Coffee</h4>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4 stats-grid stats-grid-2">
                  <div class="register-left-agile">
                     <div class="counter">4000</div>
                     <div class="stat-info py-lg-3 py-md-3 py-sm-3 py-3">
                        <h4>Designs</h4>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4 stats-grid stats-grid-3">
                  <div class="register-left-agile">
                     <div class="counter">500</div>
                     <div class="stat-info py-lg-3 py-md-3 py-sm-3 py-3">
                        <h4>Clients</h4>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--//States-->
      <!-- clients -->
      <section class="blog py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Latest News</h3>
            <div class="row blog-top-grids">
               <div class="col-lg-6 left-side-agile top-client-gap">
                  <div class="least-w3layouts-text-gap">
                     <div class="row">
                        <div class="col-md-4 col-sm-4 col-4 news-img">
                           <img src="view/images/t1.jpg" alt="" class="image-fluid">
                        </div>
                        <div class="col-md-8 col-sm-8 col-8 news-agile-text ">
                           <h4 class="mb-3">Milky Deo 
                           </h4>
                           <p >velit sagittis vehicula. Duis posuere 
                              ex in mollis iaculis. Suspendisse tincidunt
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 left-side-agile ">
                  <div class="least-w3layouts-text-gap">
                     <div class="row ">
                        <div class=" col-md-4 col-sm-4 col-4 news-img">
                           <img src="view/images/t2.jpg" alt="" class="image-fluid">
                        </div>
                        <div class=" col-md-8 col-sm-8 col-8 news-agile-text ">
                           <h4 class="mb-3">Rose Will
                           </h4>
                           <p >velit sagittis vehicula. Duis posuere 
                              ex in mollis iaculis. Suspendisse tincidunt
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row blog-top-grids">
               <div class="col-lg-6 left-side-agile top-client-two">
                  <div class="least-w3layouts-text-gap">
                     <div class="row">
                        <div class=" col-md-4 col-sm-4 col-4 news-img">
                           <img src="view/images/t3.jpg" alt="" class="image-fluid">
                        </div>
                        <div class=" col-md-8 col-sm-8 col-8 news-agile-text ">
                           <h4 class="mb-3">Sara Kent
                           </h4>
                           <p>velit sagittis vehicula. Duis posuere 
                              ex in mollis iaculis. Suspendisse tincidunt
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 left-side-agile top-client-gap">
                  <div class="least-w3layouts-text-gap">
                     <div class="row">
                        <div class=" col-md-4 col-sm-4 col-4 news-img">
                           <img src="view/images/t4.jpg" alt="" class="image-fluid">
                        </div>
                        <div class=" col-md-8 col-sm-8 col-8 news-agile-text ">
                           <h4 class="mb-3">Shilly Lana
                           </h4>
                           <p>velit sagittis vehicula. Duis posuere 
                              ex in mollis iaculis. Suspendisse tincidunt 
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <script src="view/js/jquery.waypoints.min.js"></script>
      <script src="view/js/jquery.countup.js"></script>
      <script>
         $('.counter').countUp();
      </script>