   <div id="container">

      <div class="using-border py-3">
         <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
               <li>
                  <a href="index.php?page=inicio" data-tr="Inicio"></a>
                  <span>/ /</span>
               </li>
               <li>Shop</li>
            </ul>
         </div>
      </div>
      <!-- //short-->
      <!--Gallery-->
   </div>
</br></br>

   <div id="maps"></div>


   <table id="fil">
      <tr>
         <td id="fil_empty">
            <ol>
               <h2><li type="square"><label for="order">Order by</label></h2>
                  </br>
                  <select name="order" class="lal" id="order"></li>
               <option>Predetermined</option>
               <option value="val_asc">Low valoration</option>
               <option value="val_desc">High valoration</option>
               <option value="stock_asc">Low stock</option>
               <option value="stock_desc">High stock</option>
               </select>
            </ol>
            <ol>
               <h2>JEWERLY</h2>
               <li type="square"><label for="reloj">Reloj</label>
                  <input type="checkbox" id="reloj" class="lal" name="tipo" value="reloj"></li>
               <li type="square"><label for="anillo">Anillo</label>
                  <input type="checkbox" id="anillo" class="lal" name="tipo" value="anillo"></li>
               <li type="square"><label for="pulsera">Pulsera</label>
                  <input type="checkbox" id="pulsera" class="lal" name="tipo" value="pulsera"></li>
            </ol>
            <ol>
               <h2>SAHPE</h2>
               <li type="square"><label for="circular">Circular</label>
                  <input type="checkbox" id="circular" class="lal" name="forma" value="circular"></li>
               <li type="square"><label for="cuadrada">Cuadrada</label>
                  <input type="checkbox" id="cuadrada" class="lal" name="forma" value="cuadrada"></li>
               <li type="square"><label for="sport">Sport</label>
                  <input type="checkbox" id="sport" class="lal" name="forma" value="sport"></li>
               <li type="square"><label for="abierta">Abierta</label>
                  <input type="checkbox" id="abierta" class="lal" name="forma" value="abierta"> </li>
            </ol>
            <ol>
               <h2>GEM</h2>
               <li type="square"><label for="diamante">Diamante</label>
                  <input type="checkbox" class="lal" id="diamante" name="gema" value="diamante"></li>
               <li type="square"><label for="zafiro">Zafiro</label>
                  <input type="checkbox" class="lal" id="zafiro" name="gema" value="zafiro"></li>
               <li type="square"><label for="rubi">Rubi</label>
                  <input type="checkbox" class="lal" id="rubi" name="gema" value="rubi"></li>
            </ol>
            <ol>
               <h2>GOLD</h2>
               <li type="square"><label for="rosado">Rosado</label>
                  <input type="checkbox" id="rosado" class="lal" name="oro" value="rosado"></li>
               <li type="square"><label for="blanco">Blanco</label>
                  <input type="checkbox" id="blanco" class="lal" name="oro" value="blanco"></li>
               <li type="square"><label for="puro">Puro</label>
                  <input type="checkbox" id="puro" class="lal" name="oro" value="puro"></li>
            </ol>
         </td>
<td>
   <div id="container1">

      <section class="gallery py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Our Gallery</h3>
            <div class="row grid gallery-info">
               <div id="list_products"></div>
            </div>
         </div>
      </section>
   </div>
   
   <div id="detail_products">
   </div>
</td>
</tr>

</table>
