<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   -->
<!DOCTYPE html>
<html lang="zxx">

<head>
   <!-- <title>Jeweler a Fashion Category Bootstrap Responsive Web Template| Home :: w3layouts</title> -->
   <!--meta tags -->
   <!-- <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Jeweler Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script> -->
   <!--//meta tags ends here-->
   <!--booststrap-->
   <!-- <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"> -->
   <!--//booststrap end-->
   <!-- font-awesome icons -->
   <!-- <link href="css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all"> -->
   <!-- //font-awesome icons -->
   <!-- gallery-->
   <!-- <link rel="stylesheet" href="view/css/lightbox.css"> -->
   <!--//gallery-->
   <!--gallery-hover-->
   <!-- <link rel="stylesheet" type="text/css" href="view/css/set1.css" /> -->
   <!--//gallery-hover -->
   <!--stylesheets-->
   <!-- <link href="css/style.css" rel='stylesheet' type='text/css' media="all"> -->
   <!--//stylesheets-->
   <!-- <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet"> -->
   <!-- <link href="//fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet"> -->
</head>

<body>
   <!-- banner -->
   <!-- <div class="inner_page-banner"> -->
   <!-- </div> -->
   <!--//banner -->
   <!-- short -->
   <div id="container">

      <div class="using-border py-3">
         <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
               <li>
                  <a href="index.php?page=inicio" data-tr="Inicio"></a>
                  <span>/ /</span>
               </li>
               <li>Shop</li>
            </ul>
         </div>
      </div>
      <!-- //short-->
      <!--Gallery-->
   </div>
</br></br>

   <div id="maps"></div>


   <table id="fil">
      <tr>
         <td id="tt">
            <ol>
               <h2><li type="square"><label for="order">Order by</label></h2>
                  </br>
                  <select name="order" class="lal" id="order"></li>
               <option>Predetermined</option>
               <option value="val_asc">Low valoration</option>
               <option value="val_desc">High valoration</option>
               <option value="stock_asc">Low stock</option>
               <option value="stock_desc">High stock</option>
               </select>
            </ol>
            <ol>
               <h2>JEWERLY</h2>
               <li type="square"><label for="reloj">Reloj</label>
                  <input type="checkbox" id="reloj" class="lal" name="tipo" value="reloj"></li>
               <li type="square"><label for="anillo">Anillo</label>
                  <input type="checkbox" id="anillo" class="lal" name="tipo" value="anillo"></li>
               <li type="square"><label for="pulsera">Pulsera</label>
                  <input type="checkbox" id="pulsera" class="lal" name="tipo" value="pulsera"></li>
            </ol>
            <ol>
               <h2>SAHPE</h2>
               <li type="square"><label for="circular">Circular</label>
                  <input type="checkbox" id="circular" class="lal" name="forma" value="circular"></li>
               <li type="square"><label for="cuadrada">Cuadrada</label>
                  <input type="checkbox" id="cuadrada" class="lal" name="forma" value="cuadrada"></li>
               <li type="square"><label for="sport">Sport</label>
                  <input type="checkbox" id="sport" class="lal" name="forma" value="sport"></li>
               <li type="square"><label for="abierta">Abierta</label>
                  <input type="checkbox" id="abierta" class="lal" name="forma" value="abierta"> </li>
            </ol>
            <ol>
               <h2>GEM</h2>
               <li type="square"><label for="diamante">Diamante</label>
                  <input type="checkbox" class="lal" id="diamante" name="gema" value="diamante"></li>
               <li type="square"><label for="zafiro">Zafiro</label>
                  <input type="checkbox" class="lal" id="zafiro" name="gema" value="zafiro"></li>
               <li type="square"><label for="rubi">Rubi</label>
                  <input type="checkbox" class="lal" id="rubi" name="gema" value="rubi"></li>
            </ol>
            <ol>
               <h2>GOLD</h2>
               <li type="square"><label for="rosado">Rosado</label>
                  <input type="checkbox" id="rosado" class="lal" name="oro" value="rosado"></li>
               <li type="square"><label for="blanco">Blanco</label>
                  <input type="checkbox" id="blanco" class="lal" name="oro" value="blanco"></li>
               <li type="square"><label for="puro">Puro</label>
                  <input type="checkbox" id="puro" class="lal" name="oro" value="puro"></li>
            </ol>
         </td>
<td>
   <div id="container1">

      <section class="gallery py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Our Gallery</h3>
            <div class="row grid gallery-info">
               <div id="list_products"></div>
            </div>
         </div>
      </section>
   </div>
   <div id="detail_products">
   </div>
</td>
</tr>

</table>
   <!--//Gallery-->
   <!-- //Footer -->
   <!--js working-->
   <!-- <script src='js/jquery-2.2.3.min.js'></script> -->
   <!--//js working-->
   <!-- gallery -->
   <!-- <script src="view/js/lightbox-plus-jquery.min.js"></script> -->
   <!-- //gallery -->
   <!-- start-smoth-scrolling -->
   <!-- <script src="js/move-top.js"></script>
      <script src="js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
         	$(".scroll").click(function (event) {
         		event.preventDefault();
         		$('html,body').animate({
         			scrollTop: $(this.hash).offset().top
         		}, 900);
         	});
         });
      </script> -->
   <!-- start-smoth-scrolling -->
   <!-- here stars scrolling icon -->
   <!-- <script>
         $(document).ready(function () {
         
         	var defaults = {
         		containerID: 'toTop', // fading element id
         		containerHoverID: 'toTopHover', // fading element hover id
         		scrollSpeed: 1200,
         		easingType: 'linear'
         	};
         
         
         	$().UItoTop({
         		easingType: 'easeOutQuart'
         	});
         
         });
      </script> -->
   <!-- //here ends scrolling icon -->
   <!--bootstrap working-->
   <!-- <script src="js/bootstrap.min.js"></script> -->
   <!-- //bootstrap working-->



   <!-- <iframe src="https://maps.google.com/maps?width=100%&height=600&hl=es&q=IES%20l'Estaci%C3%B3%20ONTINYENT.%2C%20Pol%C3%ADgono%20Urbano%20N%C3%BAmero%202%2C%20Onteniente+(Mi%20nombre%20de%20egocios)&ie=UTF8&t=&z=14&iwloc=B&output=embed"></iframe> -->
   <!-- <iframe src="https://www.google.com/maps/maps/embed?pb=!3m1!4b1!4m5!3m4!1s0xd6178064764c1b5:0x9f954e630d0d8e02!8m2!3d38.8098613!4d-0.6046205IES+l'Estaci%C3%B3+ONTINYENT./@38.8098613,-0.6068092,17z"></iframe> -->
   <!-- https://www.google.es/maps/place/IES+l'Estaci%C3%B3+ONTINYENT./@38.8098613,-0.6068092,17z/data=!3m1!4b1!4m5!3m4!1s0xd6178064764c1b5:0x9f954e630d0d8e02!8m2!3d38.8098613!4d-0.6046205 -->

</body>

</html>