
      <div class="using-border py-3">
         <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
               <li>
                  <a href="index.html">Home</a>
                  <span>/ /</span>
               </li>
               <li>service</li>
            </ul>
         </div>
      </div>
      <!-- //short-->
      <!--about -->
      <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
            <div class="row agile-abt-info ">
               <div class="col-lg-6 col-md-6 w3layouts-left-side-img">
                  <img src="view/images/ab1.jpg" class="img-thumbnail" alt="">
               </div>
               <div class="col-lg-5 offset-lg-1 col-md-6 info-sub-w3 pb-lg-3 pb-md-2 pb-2">
                  <div class="jst-wthree-text">
                     <h2>PERFECT<br>JEWERLY FOR<br>
                        YOU
                     </h2>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                     Lorem ipsum dolor sit amet
                  </p>
                  <div class="outs_more-buttn">
                     <a href="about.html">Read More</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--//about -->
      <!--services-->
      <section class="service py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <div class="row agile-service-grids-all">
               <div class="col-lg-6 col-md-6 w3layouts-service-list">
                  <div class="row white-shadow mb-3">
                     <div class="col-md-3 col-sm-3 white-left">
                        <span class="fas fa-gem banner-icon"></span>
                     </div>
                     <div class="col-md-9 col-sm-9 white-right">
                        <h4>Jewelry<br>Design</h4>
                        <p>delectus reiciendis maiores alias consequatur aut.maiores alias</p>
                     </div>
                  </div>
                  <div class="row white-shadow">
                     <div class="col-md-3 col-sm-3 white-left">
                        <span class="fas fa-magic banner-icon"></span>
                     </div>
                     <div class="col-md-9 col-sm-9 white-right">
                        <h4>Jewelry <br>Cleaning</h4>
                        <p>delectus reiciendis maiores alias consequatur aut.maiores alias</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-md-6  w3layouts-service-list">
                  <div class="row white-shadow  mb-3">
                     <div class="col-md-3 col-sm-3 white-left">
                        <span class="fas fa-golf-ball banner-icon"></span>
                     </div>
                     <div class="col-md-9 col-sm-9 white-right">
                        <h4>Jewelry <br>Appraisal</h4>
                        <p>delectus reiciendis maiores alias consequatur aut.maiores alias</p>
                     </div>
                  </div>
                  <div class="row white-shadow">
                     <div class="col-md-3 col-sm-3 white-left">
                        <span class="fas fa-cogs banner-icon"></span>
                     </div>
                     <div class="col-md-9 col-sm-9 white-right">
                        <h4>Jewelry <br>Repair</h4>
                        <p>delectus reiciendis maiores alias consequatur aut.maiores alias</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section>
         <div class="ser-middle-service">
            <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
               <div class="using-ser-text">
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  </p>
               </div>
               <div class="row service-inner-agile">
                  <div class="col-md-4 col-sm-12 ser-w3l-jst-abt">
                     <div class="ser-back-ground p-3 text-center">
                        <div class="ser-agile-para px-0">
                           <h5>Repair</h5>
                           <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                           <div class="outs_more-buttn">
                              <a href="about.html">Read More</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-12 ser-w3l-jst-abt">
                     <div class="ser-back-ground p-3 text-center">
                        <div class="ser-agile-para px-0">
                           <h5>Appraisal</h5>
                           <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                           <div class="outs_more-buttn">
                              <a href="about.html">Read More</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-12 ser-w3l-jst-abt">
                     <div class="ser-back-ground p-3 text-center">
                        <div class="ser-agile-para px-0">
                           <h5>Cleaning</h5>
                           <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                           <div class="outs_more-buttn">
                              <a href="about.html">Read More</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--//services-->
     
      <!-- //Footer -->
   </body>
</html>