<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   -->
<!DOCTYPE html>
<html lang="zxx">
   <head>
      <title>Jeweler a Fashion Category Bootstrap Responsive Web Template| Home :: w3layouts</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Jeweler Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
      <!--//meta tags ends here-->
      <!--booststrap-->
      <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!--//booststrap end-->
      <!-- font-awesome icons -->
      <link href="css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- //font-awesome icons -->
      <!--stylesheets-->
      <link href="css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
	  <link href="//fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet">
   </head>
   <body>
      <!-- banner -->
      <!-- <div class="inner_page-banner"> -->
      <!-- </div> -->
      <!--//banner -->
      <!-- short -->
      <div class="using-border py-3">
         <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
               <li>
                  <a href="index.php?page=menu" data-tr="Inicio"></a>
                  <span>/ /</span>
               </li>
               <li>Contact</li>
            </ul>
         </div>
      </div>
      <!-- //short-->
      <!--contact -->
      <section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Contact US</h3>
            <div class="row agile-info-para">
               <!--contact-map -->
               <div class="col-lg-6 address_mail_footer_grids">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3539.812628729253!2d153.014155!3d-27.4750921!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a0835840a2f%3A0xdd5e3f5c208dc0e1!2sMelbourne+St%2C+South+Brisbane+QLD+4101%2C+Australia!5e0!3m2!1sen!2sin!4v1492257477691"></iframe>
               </div>
               <!--//contact-map -->
               <!--contact-form-->
               <div class="col-lg-6 contact-form ">
                  <div class=" row mb-lg-4 mb-3">
                     <div class="col-lg-7 col-md-6 col-sm-6 contact-list-grid">
                        <h4> Get In Touch </h4>
                        <div class="footer_grid_left">
                           <ul>
                              <li>
                                 <span class="fas fa-map-marker"> </span>
                                 <p>3481 Melrose Place, Beverly Hills
                              </li>
                              <li>
                                 <span class="fas fa-envelope"> </span>
                                 <p ><a href="mailto:info@example.com">info@example1.com</a> 
                                 </p>
                              </li>
                              <li>
                                 <span class="fas fa-fax"></span>
                                 <p>(000)1122333</p>
                              </li>
                              <li>
                                 <span class="fas fa-phone-volume"> </span>
                                 <p>+(000) 123 4565 32</p>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-lg-5 col-md-6 col-sm-6 contact-list-grid">
                        <h4>About Us </h4>
                        <div class="contact-about">
                           <p>incididunt ut Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor</p>
                        </div>
                     </div>
                  </div>
                  <form action="#" method="post">
                     <div class=" agile-wls-contact-mid">
                        <div class="form-group contact-forms">
                           <input type="text" class="form-control" placeholder="Name" required="" >
                        </div>
                        <div class="form-group contact-forms">
                           <input type="email" class="form-control" placeholder="Email" required="">
                        </div>
                        <div class="form-group contact-forms">
                           <input type="text" class="form-control" placeholder="Phone" required="">
                        </div>
                        <div class="form-group contact-forms">
                           <textarea class="form-control" rows="3" placeholder="Message" required=""></textarea>
                        </div>
                        <button type="submit" class="btn btn-block sent-butnn">Submit</button>
                     </div>
                  </form>
               </div>
            </div>
            <!--//contact-map -->
         </div>
      </section>
      <!--//contact  -->
      <!--js working-->
      <script src='view/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- start-smoth-scrolling -->
      <script src="view/js/move-top.js"></script>
      <script src="view/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
         	$(".scroll").click(function (event) {
         		event.preventDefault();
         		$('html,body').animate({
         			scrollTop: $(this.hash).offset().top
         		}, 900);
         	});
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
         	var defaults = {
         		containerID: 'toTop', // fading element id
         		containerHoverID: 'toTopHover', // fading element hover id
         		scrollSpeed: 1200,
         		easingType: 'linear'
         	};
         
         
         	$().UItoTop({
         		easingType: 'easeOutQuart'
         	});
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <!--bootstrap working-->
      <script src="view/js/bootstrap.min.js"></script>
      <!-- //bootstrap working-->
   </body>
</html>