<div id="contenido">
    <div class="container">
        <div class="row">
            <h3 data-tr="LISTA DE usuario"></h3>
            </br></br>

        </div>
        <div class="row">
            <table>
                <td>
                    <a href="index.php?page=controller_joyas&op=create"><img src="view/img/anadir.png"></a>
                </td>
                <td>
                    <a href="index.php?page=controller_joyas&op=deleteall" class="Button_red" data-tr="Borrar todo"></a>
                </td>
            </table>
            <table id="list_us">
                <thead>
                    <tr>
                        <th align='center' width=125>User name</th>
                        <th align='center' width=125>Mail</th>
                        <th align='center' width=125>Type</th>
                        <th align='center' width=125>Reed</th>
                        <th align='center' width=125>Update</th>
                        <th align='center' width=125>Delete</th>


                    </tr>
                </thead>
                <tbody id="list">

                </tbody>
            </table>

            <div id="list"></div>


        </div>
    </div>
</div>

<section id="details_joyas">
</section>